# PlatformIO
.pio/
.piolibdeps/
.pioenvs/
.pio/build/

# VS Code
.vscode/
!.vscode/extensions.json

# Build artifacts
build/
*.elf
*.bin
*.hex

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# =========================
# 🔐 Sensitive Config
# =========================
# src/system/Config.h

# =========================
# Optional (if using LittleFS / SPIFFS)
# =========================
data/